.blog{
    border: 1px solid red ;
    border-radius: 20px;
    margin: 5%;
    width: 30%;
   display: inline-block ;
    }
    h3{
      text-align: center;
    }
    p{
       text-align: justify;
    }